@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    color: #464141;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eeeeee;
}
header {
    padding: 5px;
    background-color: rgb(245, 245, 190);
}

nav > ul {
    text-align: left;
}

nav > ul > li {
    display: inline-flex;
    margin-right: 10px;
    margin-left: 10px;
}

h1 {
    font-size: 2.2em;
    padding: 5px;
    padding-bottom: 0px;
    text-align: center;
    color: #464141;
}

h2 {
    font-size: 1.8em;
    color: #464141;
    padding: 20px;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    padding: 5px;
    padding-left: 20px;
}

p {
    font-size: 1.1em;
    padding: 20px;
    padding-top: 0px;
}

a {
    border-radius: 8px;
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    color: #464141;
}

a:hover {
    background-color: white;
    text-decoration: underline;
}
