@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    color: #464141;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eeeeee;
}
header {
    padding: 5px;
    background-color: #63635a;
}

nav > ul {
    text-align: left;
}

nav > ul > li {
    display: inline-flex;
    margin-right: 10px;
    margin-left: 10px;
}

main > ul > li {
    display: inline-flex;
    margin-right: 10px;
    margin-left: 10px;
}

h1 {
    font-size: 2.2em;
    padding: 5px;
    padding-bottom: 0px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 1.8em;
    color: #464141;
    padding: 20px;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    padding: 5px;
    padding-left: 20px;
}

p {
    text-align: justify ;
    max-width: 900px;
    font-size: 1.1em;
    padding: 20px;
    padding-top: 0px;
}

a {
    border-radius: 8px;
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: #443c3c;
    text-decoration: underline;
}

img {
    max-width: 300px;
    max-height: 300px;
}


footer {
    background-color: #63635a;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
    padding-top: 45px;
}

footer > p {
    color: white;
}