* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    
    grid-template-columns: 500px 1fr;
    grid-template-rows: 80px 1fr 80px;
    height: 100vh;
    grid-template-areas:
    "header header header"
    "aside main main"
    "footer footer footer";
}

.header {
    grid-area: header;
    background-color: coral;
}

.main {
    grid-area: main;
    background-color: azure;
}

.aside {
    grid-area: aside;
    background-color: darkslategrey;
}

.footer {
    grid-area: footer;
    background-color: bisque;
}