@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    color: #464141;
    margin: 0px;
    padding: 0px;
}

body {
    align-items: center;
    height: 100%;
    display: flex; 
    flex-direction: column; 
    background-color: #e6e6e6;
}

header {
    width: 100%;
    padding: 5px;
    background-color: #63635a;
}

html {
    height: 100%;         
}

main {
    width: 70%;
    background-color: #eeeeee;
    flex-grow: 1;
}

h1 {
    font-size: 2.2em;
    padding: 5px;
    padding-bottom: 0px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 1.8em;
    color: #464141;
    padding: 20px;
    font-weight: bold;
}

h3 {
    font-size: 1.5em;
    padding: 5px;
    padding-left: 20px;
}

nav > ul {
    display: flex;
    justify-content: center;
    padding: 13px;
    
}

nav > ul > li {
    margin-right: 10px;
    margin-left: 10px;
    list-style-type: none;
}

nav a {
    border-radius: 8px;
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #444444;
}

main > ul#img {
    display: flex;
    justify-content: center;
    max-height: 300px;
}

main > ul#img > li {
    box-shadow: 4px 4px 15px #00000049;
    margin-right: 5px;
    margin-left: 5px;
    list-style-type: none;
}

main > ul#paises {
    padding-left: 40px;
    font-size: 1.1em;
}

main > p {
    text-align: justify;
    max-width: 900px;
    font-size: 1.1em;
    padding: 20px;
    padding-top: 0px;
}

main > a {
    border-radius: 8px;
    padding: 10px;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

main a:hover {
    background-color: #443c3c;
    text-decoration: underline;
}

img {
    max-width: 300px;
    max-height: 300px;
}


footer {
    background-color: #63635a;
    padding: 15px;
    width: 100%;
}

footer > p {
    width: 100%;
    text-align: center;
    color: white;
}

footer > p > a {
    color: white;
}